.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--primery-background-color);
}
.tube {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.tube__container {
  margin-right: 70px;
}
.address-tube {
  margin-top: 20px;
}
.tube__logo {
  display: flex;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: var(--primery-white-color);
  text-decoration: none;
}
.address-tube__mail-item {
  margin-bottom: 9px;
  color: var(--primery-white-color);
}

.address-tube__location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  margin-bottom: 9px;
  font-weight: 400;
  color: var(--primery-white-color);
}
.address-tube__tel-unit,
.address-tube__mail-unit {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.143px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: 250ms var(--timing-function);
  text-decoration: none;
}
.address-tube__mail-unit:hover,
.address-tube__mail-unit:focus {
  color: var(--accent-color);
}

.address-tube__tel-unit:hover,
.address-tube__tel-unit:focus {
  color: var(--accent-color);
}
